streamlit
langchain
chromadb
pdfplumber

from constitution_parser import extract_text_from_pdf

import sys
import os
sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(__file__), '..', 'src')))